<div class="education-container">

    <div class="left-section">
      <div class="left-content">
        <img src="assets/picture4.jpg" alt="Fuad Ahmed">
        <h2>Fuad Sultan Ahmed</h2>
        <p>Arbaminch University</p>
        <p>Bachelor of Science in Software Engineering</p>
        <p>2021 - 2024</p>
      </div>
    </div>
  
    <div class="right-section">
      <h1>Education</h1>
      <p>
        I embarked on my academic journey in Software Engineering at Arba Minch University in Ethiopia. Ranked third when competing to join this prestigious faculty, I embraced every challenge with passion and determination, achieving an impressive <span>CGPA of 3.67 </span> over nearly four years. Though I didn’t complete my degree, withdrawing to move to the USA was a pivotal moment, driven by my unyielding passion for coding and solving complex problems.
        <br><br>
        As <span>President of the student-run Information Center</span>, I honed my leadership, communication, and problem-solving skills. This role equipped me with invaluable experience that extended beyond textbooks.
        <br><br>
        Additionally, I <span>interned for four months</span> at Infonans Solution PLC in Addis Ababa, where I flourished as a full-stack developer, gaining hands-on experience in the tech industry.
        <br><br>
        My experiences have shaped me into a versatile and driven individual, ready to take on new challenges and make a lasting impact in the field of software engineering.
      </p>
    </div>
  </div>
  