<div class="about-container">
    <div class="content">
      <h1>About Me</h1>
      <p>
        I’m <span class="highlight">Fuad Ahmed</span>, a <span class="bold">full stack developer</span> with a passion for programming. Born and raised in <span class="highlight">Ethiopia, Africa</span>, I developed a strong inclination toward technology from a young age. At <span class="highlight">23</span>, I have honed my skills and achieved a <span class="highlight">3.67 CGPA</span> during my studies at <span class="bold">Arbaminch University</span>, demonstrating my dedication and passion for the field.
      </p>
      <p>
        In pursuit of greater opportunities, I made the bold decision to withdraw from my studies and <span class="highlight">move to the US</span>. This transition has opened new doors for growth and has fueled my ambition to excel in the tech landscape.
      </p>
      <p>
        I speak both <span class="highlight">English</span> and <span class="highlight">Amharic</span>, bringing a unique cultural perspective and good communication skills to any team. My diverse background and expertise make me a valuable asset in fostering an inclusive and dynamic workplace.
      </p>
      <p>
        Beyond academics, I have honed my communication, leadership, and problem-solving skills. <span class="highlight">Serving as the president</span> of my university’s student-run information center was a pivotal experience. It allowed me to lead, innovate, and solve complex problems while fostering a collaborative environment.
      </p>
    </div>
  </div>
  