<div class="contact-container">
    <div class="left-section">
      <h2>Let's build</h2>
      <h2>Something</h2>
      <h1>Great together.</h1>
    </div>
    <div class="right-section">
        <h1>Contact <span>Me</span></h1>
      <div class="contact-item">
        <a href="mailto:fuadsultan59@gmail.com" target="_blank">
          <i class="fas fa-envelope"></i> Email
        </a>
      </div>
      <div class="contact-item">
        <a href="https://linkedin.com/in/fuad-sultan" target="_blank">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
      </div>
      <div class="contact-item">
        <a href="https://t.me/fua13" target="_blank">
          <i class="fab fa-telegram"></i> Telegram
        </a>
      </div>
      <div class="contact-item">
        <a href="https://github.com/FuadSultan59" target="_blank">
          <i class="fab fa-github"></i> GitHub
        </a>
      </div>
    </div>
  </div>
  