<div class="skills-container">
  <h1>Skills</h1>
  <div class="skills-cards">
    
    <div class="card">
      <img src="assets/angular.jpg" alt="Front End">
      <h2>Front End</h2>
      <h3><span>Framework:</span> React, Angular</h3>
      <p>Creating interactive and responsive web interfaces using modern JavaScript frameworks.</p>
    </div>

    <div class="card">
      <img src="assets/nest1.jpg" alt="Back End">
      <h2>Back End</h2>
      <h3><span>Framework:</span> Nest.js </h3>
      <p>Designing RESTful APIs, implementing robust endpoints, ensuring server-side security and efficiency..</p>
    </div>

    <div class="card">
      <img src="assets/postgresql.png" alt="Database Management">
      <h2>Database Management</h2>
      <h3><span>Technologies:</span> MySQL, PostgreSQL</h3>
      <p>Designing and managing databases, ensuring data integrity and optimal performance.</p>
    </div>

  </div>
</div>
