<div class="projects-container">
    <h1>Latest <span class="highlight">Project</span></h1>
    <div class="tech-notice">
        <p>* This project leverages <span class="highlight">React.js</span> for the front-end development, with <span class="highlight">Nest.js and TypeORM</span> handling the back-end operations. The data is managed using <span class="highlight">PostgreSQL</span>, providing a robust and scalable solution.</p>
      </div>
    <div class="projects-grid">
      <div class="project">
        <img src="/assets/home-page.jpeg" alt="Project 1">
      </div>
      <div class="project">
        <img src="assets/admin-analytics.jpeg" alt="Project 2">
      </div>
      <div class="project">
        <img src="assets/reception-dashboard.jpeg" alt="Project 3">
      </div>
      <div class="project">
        <img src="assets/order-status.jpeg" alt="Project 4">
      </div>
    </div>

  </div>
  