<div class="home-container">
    <div class="left-section">
      <h2>Hello, It's Me</h2> 
      <h1><span class="name">Fuad Ahmed</span></h1>
      <h2>And I'm a <span class="highlight">Full Stack Web Developer</span></h2>
      <p>I create engaging and efficient websites to bring your ideas to life. With Angular, React, Nest js and otherb modern web technologies, I aim to deliver seamless and visually appealing digital experiences.</p>

      <div class="social-icons">    
        <a href="mailto:fuadsultan59@gmail.com" target="_blank">
          <i class="fas fa-envelope"></i>
        </a>

        <a href="https://github.com/FuadSultan59" target="_blank">
            <i class="fab fa-github" ></i> 
        </a>

        <a href="https://linkedin.com/in/fuad-sultan" target="_blank">
            <i class="fab fa-linkedin"></i> 
        </a>
              
        <a href="https://t.me/fua13" target="_blank">
            <i class="fab fa-telegram" ></i> 
        </a>

        <a href="" target="_blank">
            <i class="fas fa-globe" ></i> 
        </a>
      </div>
      <button class='contact-btn' routerLink="/Contact-Me" >Contact Me</button>

    </div>
    <div class="right-section">
      <div class="hexagon">
        <img src="assets/picture4.jpg" />
    </div>
    </div>
  </div>
  
